<%- include('../partials/header') %>
<section id="menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <a href="/menu/new">ADD Menu Item</a>
        <h1>Menu</h1>
        <table id="list">
          <thead>
            <tr>
              <th>Menu Item</th>
              <th>Price</th>
              <th>Package Size</th>
              <th>Frozen?</th>
            </tr>
          </thead>
          <tbody>
            <% menueItems.forEach(function(m) { %>
            <tr>
              <td><%= m.category %></td>
              <td><%= m.price %></td>
              <!-- <td><a href="">DETAILS</a></td> -->
              <td><%= m.pkgSize %></td>
              <td><%= m.frozen ? "Yes" : "No" %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
